# Python compiled files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
__pypackages__/

# Sensitive information
settings/local.py
settings/secret.py

# Logs and cache
*.log
*.cache
*.swp
*.swo
.ipynb_checkpoints/

# Django runtime files
db.sqlite3
*.sqlite3
media/
static/

# Database files
db.sqlite3

# Django specific
*.pot
*.po
*.mo

# Migration files (optional)
# migrations/
